<div id="error-container">
    <div id="inner-container">
        <div>
            <span style="font-weight: bold; font-size: larger;">404.</span> That's an error.
        </div>
        <div>
            Ther requested URL/aherfs was not found on this server.
        </div>
        <div>
            Go to home page
            <a class="button" routerLink="/mainContent" routerLinkActive="active">Home</a>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div>
        <img src="../../assets/roboto_animation_dribbble.gif" alt="404 Error">
    </div>
</div>