<div>
    <nav id="nav-container">
        <div (click)="selectCategory('electronics')" style="cursor: pointer;"> Electronics
            <span>
                <img src="../../assets/expand_more_24dp.png" alt="Expand" class="expandImg">
            </span>
        </div>
        <div (click)="selectCategory('mens')" style="cursor: pointer;"> Men
            <span>
                <img src="../../assets/expand_more_24dp.png" alt="Expand" class="expandImg">
            </span>
        </div>
        <div (click)="selectCategory('womens')" style="cursor: pointer;"> Women
            <span>
                <img src="../../assets/expand_more_24dp.png" alt="Expand" class="expandImg">
            </span>
        </div>
    </nav>
</div>

<div class="subType-container" *ngIf="viewDiv == true">
    <div *ngFor="let type of selectedSubCategories" class="subCategory" (click)="navigateToSubCategory(type)">
        {{type}}</div>
</div>

<router-outlet></router-outlet>