.main-container {
    padding: 30px;
}

.product-container {
    display: grid;
    flex-direction: row;
    row-gap: 20px;
    margin: 5px;
}

.product-sub-container {
    display: flex;
    column-gap: 10px;
    height: max-content;
    padding: 15px;
    border: 1px aquamarine solid;
    border-radius: 10px;
    align-items: center;
}

.sellerName {
    color: lightslategrey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

/* emptycart styles */

#emptyCart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

#buttonShop {
    width: 20vh;
    height: 4vh;
    background-color: crimson;
    border-radius: 3px;
    cursor: pointer;
    color: aliceblue;
    padding: 3px;
    text-align: center;
}

#headingCart {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
}