#header-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 20px;
    background-color: violet;
    padding: 20px;
}

#search_division {
    margin-right: 600px;
}

.head-icons {
    width: 25px;
    filter: brightness(0) invert(1);
    opacity: 0.75;
}

.content-division {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-count {
    margin-right: 10px;
    background-color: white;
    color: violet;
    border-radius: 50%;
    height: 3vh;
    width: 3vh;
    font-size: x-small;
    font-weight: bold;
}